[Unit]
Description=Voice Typing DBus Service
After=network.target voicetyping-keyboard@voicetyping.service
Wants=network.target voicetyping-keyboard@voicetyping.service

[Service]
Type=simple
WorkingDirectory=/home/lukasz/workspace/prototypes/voicetyping
Environment=PYTHONPATH=/home/lukasz/workspace/prototypes/voicetyping
ExecStart=/home/lukasz/workspace/prototypes/voicetyping/.venv/bin/voicetyping-server
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
